body {
    background-color: #c20e59;
    color: rgb(233, 224, 224);
    font-family: "Nerko One", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 100;
}

button {
    background-color: #ac179f;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}